body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    padding: 10px 15px;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: min-content 2fr;
    grid-template-rows: max-content 1fr;
}

header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > * {
    font-size: 12pt;
    margin-right: 15px;
}

nav li {
    list-style: none;
    margin: 4px 0;
}

nav ul {
    padding-left: 30px;
}

nav > ul {
    padding-left: 0;
}

nav {
    grid-column: 1;
    grid-row: 2;
    color: #676767;
    width: max-content;
    margin-right: 30px;
}

nav .parent {
    color: black;
    font-style: italic;
}

nav .current {
    color: black;
    font-weight: bold;
}

nav a, header a {
    color: inherit;
    text-decoration: none;
}

main {
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 900px) {
    nav {
        display: none;
    }
}