@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: Inter, sans-serif;
    font-size: 12pt;
    padding: 15px;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: max-content 2fr;
    grid-template-rows: max-content 1fr;
    gap: 15px;
}

header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > * {
    font-size: 12pt;
    margin: 0;
    margin-right: 15px;
}

header a {
    /* margin: 2px 0;
    display: block;
    padding: 6px 8px; */
    border-radius: 6px;
    transition: color 0.08s;
}

header a:hover {
    color: #676767;
    text-decoration: underline;
    text-underline-offset: 2px;
}

nav li {
    list-style: none;
}

nav a {
    margin: 2px 0;
    display: block;
    padding: 6px 8px;
    border-radius: 6px;
    transition: background-color 0.08s;
}

nav > ul > li:first-of-type a {
    margin-top: 0;
}

nav a:hover {
    color: #444;
    background-color: #f0f2f4;
}

nav .parent a:hover {
    color: black;
}

nav ul {
    padding-left: 30px;
    margin: 0;
}

nav > ul {
    margin: 0;
    padding-left: 0;
}

nav {
    grid-column: 1;
    grid-row: 2;
    color: #676767;
    width: max-content;
    max-width: 180px;
    padding-right: 8px;
    margin-right: 2px;
    border-right: 1px solid #eeeff2;
}

nav .parent {
    color: black;
}

nav .current a {
    background-color: #2188ff;
    color: #f0f2f4;;
    font-weight: bold;
}

nav a, header a {
    color: inherit;
    text-decoration: none;
}

main {
    grid-column: 2;
    grid-row: 2;
}

main :first-child {
    margin-top: 0;
}

.hamburger {
    display: none;
    font-size: 0;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: white;
    padding: 3px;
}

.hamburger:hover {
    background-color: #f0f2f4;
}

.hamburger:focus {
    background-color: #eeeff2;
    border-color: #aaa;
    outline: none;
}

@media (max-width: 900px) {
    nav {
        display: none;
    }
    body {
        column-gap: 0;
        padding-top: 0;
    }
    header {
        position: sticky;
        top: 0;
        margin: 0 -15px;
        padding: 5px 15px;
        background-color: white;
        border-bottom: 1px solid #d6d7db;
    }
    .hamburger {
        display: unset;
    }
    body[data-navopen="true"] nav {
        display: unset;
        position: fixed;
        background-color: white;
        bottom: 0;
        right: 60px;
        left: 0;
        top: 43px;
        max-width: unset;
        width: auto;
        margin: 0;
        padding: 20px;
        overflow-y: auto;
    }
    *[data-navopen="true"] {
        background-color: #999;
    }
}