@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --background-color: #DEE2E6;
    --text: black;
    --separator: #c7c7c7;
    --nav-parent-fg: black;
    --nav-hover-bg: #dbdbdb;
    --nav-hover-fg: #323232;
    --nav-fg: #676767;
    --nav-current-fg: #f0f2f4;
    --nav-current-bg: #2188ff;
    --header-link-hover: #676767;
    --nav-bg: white;
    --hamburger-bg: #f0f0f0;
    --hamburger-bg-hover: #f0f2f4;
    --hamburger-bg-focus: #eeeff2;
    --hamburger-color: black;
}

.cards a:hover {
    box-shadow:
    -7px -7px 20px 0px #CED4DA,
    -4px -4px 5px 0px #CED4DA,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

.logo-b {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #212529;
        --text: white;
        --separator: #3e3e3e;
        --nav-parent-fg: white;
        --nav-hover-bg: #4e4e4e;
        --nav-hover-fg: #c9c9c9;
        --nav-fg: #aaa;
        --nav-current-fg: #c7c7c7;
        --nav-current-bg: #0f488b;
        --header-link-hover: #bbb;
        --nav-bg: #1c1c1c;
        --hamburger-bg: #414141;
        --hamburger-bg-hover: #4b4b4b;
        --hamburger-bg-focus: #5c5c5c;
        --hamburger-color: white;
    }

    .cards a:hover {
        box-shadow:
        -7px -7px 20px 0px #343A40,
        -4px -4px 5px 0px #343A40,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    }

    body {
        background-image: url("img/tlo2.jpg") !important;
    }

    .logo-b {
        display: unset;
    }

    .logo-a {
        display: none;
    }
}

body {
    font-family: Inter, sans-serif;
    font-size: 12pt;
    padding: 15px;
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: max-content 2fr;
    grid-template-rows: max-content 1fr;
    gap: 15px;
    background-image: url("img/tlo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--text);
}

header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 32px;

    background-color: var(--background-color);
    border-radius: 10px;
    padding: 5px 0;
    text-align: right;
}

header > * {
    font-size: 16pt;
    margin: 0 15px;
}

header a:nth-of-type(2) {
    margin-left: auto;
}

header img {
    max-height: 50px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

header a {
    /* margin: 2px 0;
    display: block;
    padding: 6px 8px; */
    border-radius: 6px;
    transition: color 0.08s;
}

header a:hover {
    color: var(--header-link-hover);
    text-decoration: underline;
    text-underline-offset: 2px;
}

footer {
    grid-column: 2;
    grid-row: 3;
    margin-top: 40px;

    background-color: var(--background-color);
    border-radius: 10px;
    padding: 15px;
}

footer * {
    margin: 0;
}

footer p:not(:last-child) {
    margin-bottom: 10px;
}

footer ul {
    padding-left: 16px;
}

nav li {
    list-style: none;
}

nav a {
    margin: 2px 0;
    display: block;
    padding: 6px 8px;
    border-radius: 6px;
    transition: background-color 0.08s;
}

nav > ul > li:first-of-type a {
    margin-top: 0;
}

nav a:hover {
    color: var(--nav-hover-fg);
    background-color: var(--nav-hover-bg);
}

nav .parent a:hover {
    color: var(--nav-parent-fg);
}

nav ul {
    padding-left: 30px;
    margin: 0;
}

nav > ul {
    margin: 0;
    padding-left: 0;
}

nav {
    grid-column: 1;
    grid-row: 2;
    color: var(--nav-fg);
    width: max-content;
    max-width: 180px;
    padding-right: 8px;
    margin-right: 2px;
    /* border-right: 1px solid var(--separator); */
}

nav .parent {
    color: var(--text);
}

nav .current a {
    background-color: var(--nav-current-bg);
    color: var(--nav-current-fg);
    font-weight: bold;
}

nav a, header a {
    color: inherit;
    text-decoration: none;
}

main {
    grid-column: 2;
    grid-row: 2;
}

main :first-child {
    margin-top: 0;
}

img {
    max-width: 100%;
}

.cards {
    display: flex;
    /* grid-template-columns: repeat(auto-fill,minmax(400px, 1fr)); */
    /* grid-template-columns: auto; */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    gap: 40px;
}

.cards * {
    min-width: 0;
}

.cards a {
    padding: 36px;
    transition: all 0.3s ease;
    font-weight: 500;
    display: block;
    background-color: var(--background-color);
    border-radius: 10px;
    color: var(--text);
    text-decoration: none;
    text-align: center;
    flex: 1 1 250px;
    min-width: 0;
}

.cards img {
    max-height: 195px;
}

.hamburger {
    display: none;
    font-size: 0;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--hamburger-bg);
    fill: var(--hamburger-color);
    padding: 3px;
    margin-left: 0;
}

.hamburger:hover {
    background-color: var(--hamburger-bg-hover);
}

.hamburger:focus {
    background-color: var(--hamburger-bg-focus);
    border-color: #aaa;
    outline: none;
}

.nav-top {
    display: none;
    margin-bottom: 32px;
}

audio {
    display: block;
    margin: 8px 0 !important;
}

.audiobtn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 0.5ch;
}

dt {
    margin-top: 8px;
    font-weight: bold;
}

.no-nav nav > ul {
    display: none;
}

@media (max-width: 900px) {
    nav {
        display: none;
    }
    body {
        column-gap: 0;
        padding-top: 0;
    }
    header {
        position: sticky;
        top: 0;
        margin: 0 -15px;
        padding: 5px 15px;
        border-radius: 0;
    }
    header * {
        font-size: 12pt;
    }
    header a:not(:first-of-type) {
        display: none;
    }
    header img {
        max-height: 32px;
    }
    .hamburger {
        display: unset;
    }
    .nav-top {
        display: block;
    }
    body[data-navopen="true"] nav {
        display: unset;
        position: fixed;
        background-color: var(--nav-bg);
        bottom: 0;
        right: 60px;
        left: 0;
        top: 43px;
        max-width: unset;
        width: auto;
        margin: 0;
        padding: 20px;
        overflow-y: auto;
    }
    *[data-navopen="true"] {
        background-color: #999;
    }
}